# Object files
*.o

# Backups
*~

# Mac OS X metadata
*.DS_Store

#
# Xcode gitignore settings are from https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
#

## Xcode, Build generated
build/
DerivedData/

## Xcode, Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
xcschemes/
project.xcworkspace/

## Xcode, Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

#
# JetBrains IDE settings
#
*.idea
SheepShaver/src/adb.cpp
SheepShaver/src/audio.cpp
SheepShaver/src/BeOS/audio_beos.cpp
SheepShaver/src/BeOS/extfs_beos.cpp
SheepShaver/src/BeOS/scsi_beos.cpp
SheepShaver/src/BeOS/serial_beos.cpp
SheepShaver/src/BeOS/SheepDriver
SheepShaver/src/BeOS/SheepDriver/Makefile
SheepShaver/src/BeOS/SheepDriver/sheep_driver.c
SheepShaver/src/BeOS/SheepDriver/sheep_driver.h
SheepShaver/src/BeOS/SheepNet
SheepShaver/src/BeOS/SheepNet/Makefile
SheepShaver/src/BeOS/SheepNet/sheep_net.cpp
SheepShaver/src/BeOS/SheepNet/sheep_net.h
SheepShaver/src/BeOS/sys_beos.cpp
SheepShaver/src/BeOS/timer_beos.cpp
SheepShaver/src/BeOS/xpram_beos.cpp
SheepShaver/src/bincue.cpp
SheepShaver/src/cdrom.cpp
SheepShaver/src/CrossPlatform/sigsegv.h
SheepShaver/src/CrossPlatform/video_blit.cpp
SheepShaver/src/CrossPlatform/video_blit.h
SheepShaver/src/CrossPlatform/video_vosf.h
SheepShaver/src/CrossPlatform/vm_alloc.cpp
SheepShaver/src/CrossPlatform/vm_alloc.h
SheepShaver/src/disk.cpp
SheepShaver/src/dummy/audio_dummy.cpp
SheepShaver/src/dummy/clip_dummy.cpp
SheepShaver/src/dummy/prefs_editor_dummy.cpp
SheepShaver/src/dummy/scsi_dummy.cpp
SheepShaver/src/dummy/serial_dummy.cpp
SheepShaver/src/extfs.cpp
SheepShaver/src/include/adb.h
SheepShaver/src/include/audio.h
SheepShaver/src/include/audio_defs.h
SheepShaver/src/include/bincue.h
SheepShaver/src/include/cdrom.h
SheepShaver/src/include/clip.h
SheepShaver/src/include/color_scheme.h
SheepShaver/src/include/debug.h
SheepShaver/src/include/disk.h
SheepShaver/src/include/extfs.h
SheepShaver/src/include/extfs_defs.h
SheepShaver/src/include/my_sdl.h
SheepShaver/src/include/pict.h
SheepShaver/src/include/prefs.h
SheepShaver/src/include/prefs_editor.h
SheepShaver/src/include/scsi.h
SheepShaver/src/include/serial.h
SheepShaver/src/include/serial_defs.h
SheepShaver/src/include/sony.h
SheepShaver/src/include/sys.h
SheepShaver/src/include/timer.h
SheepShaver/src/include/xpram.h
SheepShaver/src/MacOSX/audio_macosx.cpp
SheepShaver/src/MacOSX/AudioBackEnd.cpp
SheepShaver/src/MacOSX/AudioBackEnd.h
SheepShaver/src/MacOSX/AudioDevice.cpp
SheepShaver/src/MacOSX/AudioDevice.h
SheepShaver/src/MacOSX/clip_macosx.cpp
SheepShaver/src/MacOSX/clip_macosx64.mm
SheepShaver/src/MacOSX/extfs_macosx.cpp
SheepShaver/src/MacOSX/macos_util_macosx.h
SheepShaver/src/MacOSX/MacOSX_sound_if.cpp
SheepShaver/src/MacOSX/MacOSX_sound_if.h
SheepShaver/src/MacOSX/sys_darwin.cpp
SheepShaver/src/MacOSX/utils_macosx.h
SheepShaver/src/MacOSX/utils_macosx.mm
SheepShaver/src/pict.c
SheepShaver/src/prefs.cpp
SheepShaver/src/scsi.cpp
SheepShaver/src/SDL
SheepShaver/src/SDL/audio_sdl.cpp
SheepShaver/src/SDL/audio_sdl3.cpp
SheepShaver/src/SDL/keycodes
SheepShaver/src/SDL/prefs_sdl.cpp
SheepShaver/src/SDL/SDLMain.h
SheepShaver/src/SDL/SDLMain.m
SheepShaver/src/SDL/video_sdl.cpp
SheepShaver/src/SDL/video_sdl2.cpp
SheepShaver/src/SDL/video_sdl3.cpp
SheepShaver/src/SDL/xpram_sdl.cpp
SheepShaver/src/slirp
SheepShaver/src/slirp/bootp.c
SheepShaver/src/slirp/bootp.h
SheepShaver/src/slirp/cksum.c
SheepShaver/src/slirp/COPYRIGHT
SheepShaver/src/slirp/ctl.h
SheepShaver/src/slirp/debug.c
SheepShaver/src/slirp/debug.h
SheepShaver/src/slirp/icmp_var.h
SheepShaver/src/slirp/if.c
SheepShaver/src/slirp/if.h
SheepShaver/src/slirp/ip.h
SheepShaver/src/slirp/ip_icmp.c
SheepShaver/src/slirp/ip_icmp.h
SheepShaver/src/slirp/ip_input.c
SheepShaver/src/slirp/ip_output.c
SheepShaver/src/slirp/libslirp.h
SheepShaver/src/slirp/main.h
SheepShaver/src/slirp/mbuf.c
SheepShaver/src/slirp/mbuf.h
SheepShaver/src/slirp/misc.c
SheepShaver/src/slirp/misc.h
SheepShaver/src/slirp/sbuf.c
SheepShaver/src/slirp/sbuf.h
SheepShaver/src/slirp/slirp.c
SheepShaver/src/slirp/slirp.h
SheepShaver/src/slirp/slirp_config.h
SheepShaver/src/slirp/socket.c
SheepShaver/src/slirp/socket.h
SheepShaver/src/slirp/tcp.h
SheepShaver/src/slirp/tcp_input.c
SheepShaver/src/slirp/tcp_output.c
SheepShaver/src/slirp/tcp_subr.c
SheepShaver/src/slirp/tcp_timer.c
SheepShaver/src/slirp/tcp_timer.h
SheepShaver/src/slirp/tcp_var.h
SheepShaver/src/slirp/tcpip.h
SheepShaver/src/slirp/tftp.c
SheepShaver/src/slirp/tftp.h
SheepShaver/src/slirp/udp.c
SheepShaver/src/slirp/udp.h
SheepShaver/src/slirp/VERSION.txt
SheepShaver/src/sony.cpp
SheepShaver/src/timer.cpp
SheepShaver/src/Unix/audio_oss_esd.cpp
SheepShaver/src/Unix/clip_unix.cpp
SheepShaver/src/Unix/color_scheme.cpp
SheepShaver/src/Unix/config.guess
SheepShaver/src/Unix/config.sub
SheepShaver/src/Unix/cpr.sh
SheepShaver/src/Unix/Darwin/mkstandalone
SheepShaver/src/Unix/Darwin/pagezero.c
SheepShaver/src/Unix/Darwin/testlmem.sh
SheepShaver/src/Unix/disk_sparsebundle.cpp
SheepShaver/src/Unix/disk_unix.h
SheepShaver/src/Unix/ether_unix.cpp
SheepShaver/src/Unix/extfs_unix.cpp
SheepShaver/src/Unix/Irix/audio_irix.cpp
SheepShaver/src/Unix/keycodes
SheepShaver/src/Unix/ldscripts
SheepShaver/src/Unix/ldscripts/freebsd-i386.ld
SheepShaver/src/Unix/ldscripts/linux-i386.ld
SheepShaver/src/Unix/ldscripts/linux-ppc.ld
SheepShaver/src/Unix/ldscripts/linux-x86_64.ld
SheepShaver/src/Unix/Linux/NetDriver
SheepShaver/src/Unix/Linux/NetDriver/README.md
SheepShaver/src/Unix/Linux/NetDriver/sheep_net.c
SheepShaver/src/Unix/Linux/scsi_linux.cpp
SheepShaver/src/Unix/m4
SheepShaver/src/Unix/m4/egrep.m4
SheepShaver/src/Unix/m4/esd.m4
SheepShaver/src/Unix/m4/gettext.m4
SheepShaver/src/Unix/m4/gtk-2.0.m4
SheepShaver/src/Unix/m4/gtk.m4
SheepShaver/src/Unix/posix_sem.cpp
SheepShaver/src/Unix/prefs_unix.cpp
SheepShaver/src/Unix/rpc.h
SheepShaver/src/Unix/rpc_unix.cpp
SheepShaver/src/Unix/semaphore.h
SheepShaver/src/Unix/serial_unix.cpp
SheepShaver/src/Unix/sshpty.c
SheepShaver/src/Unix/sshpty.h
SheepShaver/src/Unix/strlcpy.c
SheepShaver/src/Unix/strlcpy.h
SheepShaver/src/Unix/sys_unix.cpp
SheepShaver/src/Unix/timer_unix.cpp
SheepShaver/src/Unix/tinyxml2.cpp
SheepShaver/src/Unix/tinyxml2.h
SheepShaver/src/Unix/tunconfig
SheepShaver/src/Unix/vhd_unix.cpp
SheepShaver/src/Unix/xpram_unix.cpp
SheepShaver/src/Windows/aclocal.m4
SheepShaver/src/Windows/autom4te.cache/output.0
SheepShaver/src/Windows/autom4te.cache/output.1
SheepShaver/src/Windows/autom4te.cache/output.2
SheepShaver/src/Windows/autom4te.cache/output.3
SheepShaver/src/Windows/autom4te.cache/output.4
SheepShaver/src/Windows/autom4te.cache/output.5
SheepShaver/src/Windows/autom4te.cache/requests
SheepShaver/src/Windows/autom4te.cache/traces.0
SheepShaver/src/Windows/autom4te.cache/traces.1
SheepShaver/src/Windows/autom4te.cache/traces.2
SheepShaver/src/Windows/autom4te.cache/traces.3
SheepShaver/src/Windows/autom4te.cache/traces.4
SheepShaver/src/Windows/autom4te.cache/traces.5
SheepShaver/src/Windows/b2ether
SheepShaver/src/Windows/b2ether/driver/b2ether.c
SheepShaver/src/Windows/b2ether/driver/b2ether.h
SheepShaver/src/Windows/b2ether/driver/b2ether_openclose.c
SheepShaver/src/Windows/b2ether/driver/b2ether_read.c
SheepShaver/src/Windows/b2ether/driver/b2ether_write.c
SheepShaver/src/Windows/b2ether/driver/DEBUG.H
SheepShaver/src/Windows/b2ether/driver/MAKEFILE
SheepShaver/src/Windows/b2ether/driver/OEMSETUP.INF
SheepShaver/src/Windows/b2ether/driver/SOURCES
SheepShaver/src/Windows/b2ether/inc/b2ether_hl.h
SheepShaver/src/Windows/b2ether/inc/ntddpack.h
SheepShaver/src/Windows/b2ether/multiopt.h
SheepShaver/src/Windows/b2ether/nt5/b2ether.c
SheepShaver/src/Windows/b2ether/nt5/b2ether.h
SheepShaver/src/Windows/b2ether/nt5/b2ether.rc
SheepShaver/src/Windows/b2ether/nt5/b2ether64.sln
SheepShaver/src/Windows/b2ether/nt5/b2ether64.vcxproj
SheepShaver/src/Windows/b2ether/nt5/b2ether_openclose.c
SheepShaver/src/Windows/b2ether/nt5/b2ether_read.c
SheepShaver/src/Windows/b2ether/nt5/b2ether_write.c
SheepShaver/src/Windows/b2ether/nt5/B2Win2k.inf
SheepShaver/src/Windows/b2ether/nt5/B2Win7Vista-x64.inf
SheepShaver/src/Windows/b2ether/nt5/MAKEFILE
SheepShaver/src/Windows/b2ether/nt5/NTDDPACK.H
SheepShaver/src/Windows/b2ether/nt5/SOURCES
SheepShaver/src/Windows/b2ether/packet32.cpp
SheepShaver/src/Windows/cd_defs.h
SheepShaver/src/Windows/cdenable
SheepShaver/src/Windows/cdenable/cache.cpp
SheepShaver/src/Windows/cdenable/cache.h
SheepShaver/src/Windows/cdenable/cdenable.h
SheepShaver/src/Windows/cdenable/eject_nt.cpp
SheepShaver/src/Windows/cdenable/eject_nt.h
SheepShaver/src/Windows/cdenable/ntcd.cpp
SheepShaver/src/Windows/cdenable/ntcd.h
SheepShaver/src/Windows/clip_windows.cpp
SheepShaver/src/Windows/config.h
SheepShaver/src/Windows/config.h.in
SheepShaver/src/Windows/config.log
SheepShaver/src/Windows/config.status
SheepShaver/src/Windows/configure
SheepShaver/src/Windows/ether_windows.cpp
SheepShaver/src/Windows/ether_windows.h
SheepShaver/src/Windows/extfs_windows.cpp
SheepShaver/src/Windows/Makefile
SheepShaver/src/Windows/posix_emu.cpp
SheepShaver/src/Windows/posix_emu.h
SheepShaver/src/Windows/ppc-execute-impl.cpp
SheepShaver/src/Windows/prefs_editor_gtk.cpp
SheepShaver/src/Windows/router
SheepShaver/src/Windows/router/arp.cpp
SheepShaver/src/Windows/router/arp.h
SheepShaver/src/Windows/router/dump.cpp
SheepShaver/src/Windows/router/dump.h
SheepShaver/src/Windows/router/dynsockets.cpp
SheepShaver/src/Windows/router/dynsockets.h
SheepShaver/src/Windows/router/ftp.cpp
SheepShaver/src/Windows/router/ftp.h
SheepShaver/src/Windows/router/icmp.cpp
SheepShaver/src/Windows/router/icmp.h
SheepShaver/src/Windows/router/iphelp.cpp
SheepShaver/src/Windows/router/iphelp.h
SheepShaver/src/Windows/router/ipsocket.cpp
SheepShaver/src/Windows/router/ipsocket.h
SheepShaver/src/Windows/router/mib/interfaces.cpp
SheepShaver/src/Windows/router/mib/interfaces.h
SheepShaver/src/Windows/router/mib/mibaccess.cpp
SheepShaver/src/Windows/router/mib/mibaccess.h
SheepShaver/src/Windows/router/router.cpp
SheepShaver/src/Windows/router/router.h
SheepShaver/src/Windows/router/router_types.h
SheepShaver/src/Windows/router/tcp.cpp
SheepShaver/src/Windows/router/tcp.h
SheepShaver/src/Windows/router/udp.cpp
SheepShaver/src/Windows/router/udp.h
SheepShaver/src/Windows/serial_windows.cpp
SheepShaver/src/Windows/SheepShaver.exe
SheepShaver/src/Windows/sigsegv.cpp
SheepShaver/src/Windows/sigsegv.h
SheepShaver/src/Windows/sys_windows.cpp
SheepShaver/src/Windows/timer_windows.cpp
SheepShaver/src/Windows/util_windows.cpp
SheepShaver/src/Windows/util_windows.h
SheepShaver/src/Windows/video_blit.cpp
SheepShaver/src/Windows/video_blit.h
SheepShaver/src/Windows/video_vosf.h
SheepShaver/src/Windows/vm_alloc.cpp
SheepShaver/src/Windows/vm_alloc.h
SheepShaver/src/Windows/xpram_windows.cpp
SheepShaver/src/xpram.cpp
